<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет products -->
{% block title %}
Все объявления
{{ form.media }}
{% endblock title %}

{% block content %}
      <div class="services_section layout_padding">
        <div class="container">

         <div class="d-flex  justify-content-center">
         </div>
          <div class="d-flex  justify-content-center">
            <h1 class="services_text custom_main">Объявления:</h1>
          </div>
        </div>
          <hr>
      </div>
   {% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
               <td>Автор</td>
               <td>Категория</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td><a class="nav-link" href="{{ SITE_URL }}{{ post.get_absolute_url }}" >{{post.post_header}} </a></td>
               <td>{{ post.post_creation_time }}</td>
               <td>{{ post.post_text|safe }}</td>
               <td>{{ post.post_author.nickname }}</td>
               <td>{{ post.get_post_category_display }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Портал пуст</h2>
   {% endif %}

{% endblock content %}


{% block extra_body %}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock extra_body %}